@import "../styles/style.css";

:root {
    --gap-width: 3dvw;
    --gap-height: 3dvh;

    --high-percent: 90%;
    --low-percent: 15%;

    --pale-green: hsl(var(--base-green), var(--low-percent), var(--high-percent));
    --dark-green: hsl(var(--base-green), var(--high-percent), var(--low-percent));
    --third-colour: hsl(var(--base-green), calc(var(--high-percent) - var(--low-percent)), calc(var(--low-percent) / 2));
    
    --chosen-font:'Kanit', Arial, Helvetica, sans-serif;
    --heading-font-size: 400%;
    --sub-heading-font-size: 300%;
    --tertiary-heading-font-size: 200%;
    --lowest-heading-font-size: 150%;
    --text-font-size: 14px;
}

.scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
    margin-bottom: var(--gap-height);
}

.cards {
    width: 100%;
    height: 80dvh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.card {
    position: relative;
    width: 90dvw;
    min-width: 50px;
    height: 15%;
    border-radius: 10px;
    box-shadow: 0 40px 60px -6px black;
    justify-items: center;
    align-items: center;
    cursor: pointer;
}

.card-title {
    margin: 0;
    display: flex;
    float: left;
    width: 50%;
    height: 100%;
    background-color: var(--dark-green);
    color: var(--pale-green);
    font-size: var(--lowest-heading-font-size);
    padding: 2%;
    padding-left: 5%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    justify-items: center;
    align-items: center;
}

.card img {
    min-width: 40px;
    height: 80%;   
    display: inline;
    float: left;
    padding: 1%;
    margin-top: 1%;
    margin-left: 20%;
}

.card p, ul {
    padding-top: 1%;
    margin:0;
}

.card-desc, .links {
    visibility: hidden;
    display: block;  
    font-size: calc(var(--lowest-heading-font-size)*0.75);
    position: absolute;
    height: 100%;
    width: 60%;
    left: 40%;
    opacity: 0;
    background-color: var(--dark-green);
    color: var(--pale-green);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: 0.8s ease;
}

.links {
    min-height: 100%;
    height: fit-content;
    z-index: 100;
}

.links li {
    list-style: none;
}

a {
    color: var(--pale-green);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.card:hover .card-desc, .links {
    visibility: visible;
    opacity: 1;
    width: 60%;
}

.closed {
    display: none;
    visibility: hidden;
}

@media (min-width: 600px) {
    .card {
        min-width: 300px;
        width: 30dvw;
        height: 60%;
        position: relative;
        min-width: 50px;
        border-radius: 10px;
        box-shadow: 0 40px 60px -6px black;
        justify-items: center;
        cursor: pointer;
    }

    .card-title {
        display: block;
        width: 100%;
        height: 30%;
        text-align: center;
        font-size: var(--sub-heading-font-size);
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .card img {
        position: relative;
        width: max(40px, 30%);   
        height: auto;
        display: block;
        margin: 3% 35%
    }

    .card-desc, .links {
        height: 0;
        width: 100%;
        top: 30%;
        left: 0;
        padding: 10px 8%;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
        transition: 0.8s ease;
    }

    .card:hover .card-desc, .links {
        opacity: 1;
        width: 100%;
    }

    .card:hover .card-desc, .links {
        min-height: 70%;
        height: fit-content;
    }
}