@import "../styles/style.css";

:root {
    --gap-width: 3vw;
    --gap-height: 3vh;

    --high-percent: 90%;
    --low-percent: 15%;

    --pale-green: hsl(var(--base-green), var(--low-percent), var(--high-percent));
    --dark-green: hsl(var(--base-green), var(--high-percent), var(--low-percent));
    --third-colour: hsl(var(--base-green), calc(var(--high-percent) - var(--low-percent)), calc(var(--low-percent) / 2));
    
    --chosen-font:'Kanit', Arial, Helvetica, sans-serif;
    --heading-font-size: 400%;
    --sub-heading-font-size: 300%;
    --tertiary-heading-font-size: 200%;
    --lowest-heading-font-size: 150%;
    --text-font-size: 14px;
}

.scrollable {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
    margin-bottom: 3vh;
}

.cards {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    position: relative;
    width: 90vw;
    min-width: 50px;
    height: 30%;
    border-radius: 10px;
    box-shadow: 0 40px 60px -6px black;
    justify-items: center;
    cursor: pointer;
}

.card-title {
    margin: 0;
    display: block;
    text-align: center;
    background-color: var(--dark-green);
    color: var(--pale-green);
    padding: 2%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.card img {
    width: max(40px, 7vw);
    height: auto;   
    display: block;
    padding: 2%;
    margin: 5%;
}

.card-desc, .links {
    display: block;  
    font-size: 1.2rem;
    position: absolute;
    height: 0;
    width: 100%;
    top: 14%;
    opacity: 0;
    padding: 10px 8%;
    background-color: var(--dark-green);
    color: var(--pale-green);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: 0.8s ease;
}

.links li {
    list-style: none;
}

a {
    color: var(--pale-green);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.card:hover .card-desc, .links {
    opacity: 1;
    height: 81%;
}

.open {
    display: block;
}

.closed {
    display: none;
}

@media (min-width: 900px) {
    .card {
        width: 30vw;
        height: 100%;
    }

    .card img {
        width: max(40px, 50%);
        margin: 5% 25%
    }
}