@import "../styles/style.css";

h1 {
    margin-bottom: .25em;
}

img {
    max-width: 70dvw;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    background-color: var(--dark-green);
    color: var(--pale-green);
    float: left;
    border: none;
    border-radius: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    outline: none;
    cursor: pointer;
    padding: 14px;
    transition: 0.3s;
    font-size: 18px;
    opacity: 0.5;
    width: 7em;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: var(--third-colour);
}

.dark .tab button:hover {
    background-color: var(--pale-green);
    color: var(--third-colour);
}

/* Create an active/current tablink class */
.tab button.active, .dark .tab button.active  {
    opacity: 1;
    background-color: var(--dark-green);
    color: var(--pale-green);
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px;
    background-color: var(--dark-green);
    margin-bottom: .5em;
    border-radius: 1em;
    border-top-left-radius: 0;
}

.active {
    display: flex;
    flex-direction: column;
}

.job {
    border-radius: 1em;
    background-color: var(--pale-green);
    color: var(--third-colour);
    padding: 1em;
    margin: .2em;
    width: 80dvw;
    align-self: center;
}

.dark .job {
    background-color: var(--third-colour);
    color: var(--pale-green);
}

.job li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.job .company {
    font-size: larger;
    font-weight: 600;
}
.job .date {
    font-style: italic;
}
.job .title {
    font-weight: bold;
}
.job li.description {
    list-style: circle;
    margin: initial;
}

.job img.cert-logo{
    float: right;
    transform: translateY(-50px);
    width: var(--logo-width);
    height: var(--logo-width);
}

.job img.job-logo{
    float: right;
    transform: translateY(-30px);
    width: auto;
    height: var(--logo-width);
}
