@import "../styles/style.css";

img.profile {
    width: 10em;
    border-radius: 15em;
    margin: 2em;
}

.intro-text {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 70dvw;
    transform: translate(30dvw, -30dvh);
}

@media (max-width: 800px){
    .intro-text {
        transform: translate(20dvw, 0%);
    }

    img.profile {
        transform: translate(20dvw, 0%);
    }
}
