*, *::before, *::after {
    box-sizing: border-box;
}

:root{
    --royal-color: rgb(154, 45, 154);
    --draw-color: rgb(23, 80, 13);
}

.scrollable {
    margin: 0;
    display: grid;
    grid-template-rows: repeat(4, 20vh);
    gap: .5rem;
    /* cursor: pointer; */
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    font-family: Arial, Helvetica, sans-serif;
    user-select: none;
}

.container {
    display: grid;
    grid-template-columns: repeat(8, 10vw);
    grid-template-rows: 18vh, 2vh;
    gap: .5rem;
    justify-content: center;
    align-items: center;
    width: 90vw;
    height: 25vh;
}

.deck {
    aspect-ratio: 9 / 14;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 2rem;
    text-align: center;
    color: white;
}

.royal-deck {
    background-color: var(--royal-color);
}

/* .royal-deck::after{
    text-align: center;
    content: "\1F451";
    transform: translateY(30px);
} */

.draw-deck {
    background-color: var(--draw-color);
}

.player-deck {
    background-color: green;
}

.text {
    grid-column: span 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    position: relative;
    aspect-ratio: 9 / 14;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: .5rem;
    font-size: 3rem;
    background-color: white;
}

.card.red {
    color: red;
}

.card.black {
    color: black;
}

.card::before,
.card::after {
    position: absolute;
    content: attr(data-value);
    font-size: 1rem;
}

.card::before {
    top: .25rem;
    left: .25rem;
}

.card::after {
    bottom: .25rem;
    right: .25rem;
    transform: rotate(180deg);
}

.player-container .card:hover {
    background-color: #ccc;
}

.player-container .card {
    cursor: pointer;
}

button {
    grid-column: span 2;
    border-radius: 5px;
    font-size: 1rem;
    background-color: var(--draw-color);
    color: white;
    cursor: pointer;
}
button:hover {
    opacity: 80%;
}
button:disabled {
    opacity: 20%;
    cursor: auto;
}