@import "../styles/style.css";
@import "../styles/modal.css";

:root {
    --base-green: 113;
    --high-percent: 90%;
    --low-percent: 15%;

    --pale-green: hsl(var(--base-green), var(--low-percent), var(--high-percent));
    --dark-green: hsl(var(--base-green), var(--high-percent), var(--low-percent));
    --third-colour: hsl(var(--base-green), calc(var(--high-percent) - var(--low-percent)), calc(var(--low-percent) / 2));
    
    --chosen-font:'Kanit', Arial, Helvetica, sans-serif;
    --heading-font-size: 400%;
    --sub-heading-font-size: 300%;
    --tertiary-heading-font-size: 200%;
    --lowest-heading-font-size: 150%;
    --text-font-size: 14px;
}

h2, p {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

h4 {
    margin: 0.125em;
}

.date, .note {
    font-style: italic;
}

.date img {
    width: 10dvw;
    height: auto !important;
    float: right;
}

.note {
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.scrollable img {
    height: 50dvh;
}

.banner {
    height: auto !important;
    width: 100%;
}

.centre {
    width: 80%;
    margin: auto;
}

.centre li {
    list-style: none;
}

.blog {
    margin: 2.5%;
    width: 70%;
    float: right;
}

.sidebar {
    height: 100%;
    width: 23%;
    margin: 0 1%;
    left: 0;
    float: left;
    height: 100%;
    width: 23%;
    margin: 0 1%;
    left: 0;
    float: left;
    position: fixed;
    border-right: 1px solid var(--pale-green);
    padding-right: 10px;
}

.sidebar ul {
    padding: 0   ;
}

.sidebar li {
    list-style: none;
}

.content {
    background-color: var(--pale-green);
}

.dark .content {
    background-color: var(--third-colour);
}

.image-container:has(blockquote){
    width: 100%;
}
.content {
    background-color: var(--pale-green);
}

.dark .content {
    background-color: var(--third-colour);
}

.image-container:has(blockquote){
    width: 100%;
}

@media (max-width: 720px) {
    h1 {
        font-size: 3dvh;
    }
    h2 {
        font-size: 2.66dvh;
    }
    h3 {
        font-size: 2.33dvh;
    }
    h4 {
        font-size: 2dvh;
    }
    
    .blog {
        width: 95%;
    }
    .sidebar {
        border: none;
        padding: 5px;
        width: 90%;
        height: auto;
        position: relative;
        float: none;
    }
    
    
    .blog {
        width: 95%;
    }
    .sidebar {
        border: none;
        padding: 5px;
        width: 90%;
        height: auto;
        position: relative;
        float: none;
    }
    
}