:root {
    /*** light  | header/footer | background    ***/
    /*** dark   | body          | background    ***/
    /*** light  | body          | text          ***/
    --dark-green: #0e5003;
    /*** light  | header/footer | text          ***/
    /*** dark   | header/footer | text          ***/
    /*** light  | body          | background    ***/
    /*** dark   | body          | text          ***/
    --pale-green: #E0E7DF;
    /*** dark   | header/footer | background    ***/
    --third-colour: #150003;

    --chosen-font:'Kanit', Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    background-color: var(--pale-green);
    color: var(--dark-green);
    font-family: var(--chosen-font);
    font-size: 14px;
    overflow: hidden
}

.wrapper {
    height: 100%;
    width: 100%;
    display: table;
}

.header, .content, .footer {
    display: table-row;
}

.header, .footer {
    background-color: var(--dark-green);
    color: var(--pale-green);
}

.footer .inner {
    padding: 0px 0px 0px 6px;
}

.inner {
    display: table-cell;
}

.content .inner {
    height: 100%;
    position: relative;
    background-color: var(--pale-green);
}

.scrollable {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto;
}

.header img {
    float: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    height: auto;
}

.topnav {
    overflow: hidden;
    float: right;
    margin: 1%;
}

.topnav a {
    display: inline-block;
    color: var(--pale-green);
    text-align: center;
    padding: .5em;
    text-decoration: none;
    font-size: 200%;
    border-radius: .3em;
}

.topnav a:hover {
    background-color: var(--pale-green);
    color: var(--dark-green);
}

.topnav a.active {
    font-weight: bold;
    pointer-events: none;
}

.topnav .icon {
    display: none;
}

.floatLeft {
    display: inline;
    float: left;
}

.floatRight {
    display: inline;
    float: right;
}

h1.slideLeft {
    font-size: 50px;
    text-align: center;
    animation: slide-left 2s;
    text-shadow: 2px 2px var(--third-colour);
}

@keyframes slide-left {
    from    { transform: translateX(-100%);}
    to      { transform: translateX(0);}
}

.leftNotes {
    opacity: 0;
    font-size: 14px;
    text-align: center;
    animation: fade-in 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
}

.rightNotes {
    opacity: 0;
    font-size: 14px;
    text-align: center;
    animation: fade-in 1s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from    { opacity: 0%;}
    to      { opacity: 100%;}
}

h1.slideRight {
    opacity: 0%;
    font-size: 50px;
    text-align: center;
    animation: slide-right 2s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    text-shadow: 2px 2px var(--third-colour)
}

@keyframes slide-right {
    from    { opacity: 100%; transform: translateX(100%);}
    to      { opacity: 100%; transform: translateX(0);}
}

h1.slideDown {
    opacity: 0%;
    font-size: 50px;
    text-align: center;
    animation: slide-down 3s;
    animation-delay: 4s;
    animation-fill-mode: forwards;
    text-shadow: 2px 2px var(--third-colour);
}

@keyframes slide-down {
    from    { opacity: 100%; transform: translateY(150%);}
    to      { opacity: 100%; transform: translateY(0);}
}

.findMe {
    margin: 1em;
}

.findMe p {
    margin: 0;
}

.findMe ul {
    display: inline-flex;
    flex-wrap: wrap;
    width: 90%;
}

.findMe ul li {
    display: inline;
    font-size: 100%;
    border-right: solid 1px var(--pale-green);
    padding-left: 5px;
    padding-right: 5px;
}

.findMe li:last-of-type {
    border: 0;
}

.findMe ul li a {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    color: var(--pale-green);
    text-decoration: none;
}

.findMe ul li a:hover {
    text-decoration: underline;
}

.darkMode {
    padding: 1em 2em 0;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}
  
.switch input { 
    opacity: 0;
    width: 0;
    height: 0;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--pale-green);
    -webkit-transition: .4s;
    transition: .4s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--pale-green);
    -webkit-transition: .4s;
    transition: .4s;
}
  
input:checked + .slider {
    background-color: var(--dark-green);
}
  
input:focus + .slider {
    box-shadow: 0 0 1px var(--dark-green);
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
  
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

button{
    background-color: var(--dark-green);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--dark-green);
    cursor: pointer;
    display: inline-block;
    font-family: var(--chosen-font);
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover,
button:focus {
    border: solid 1px var(--third-colour);
}

.contactMe {
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/******** DARK MODE *******/
.dark, 
.dark .content .scrollable, 
.dark .topnav a:hover {
    background-color: var(--dark-green) !important;
    color: var(--pale-green);
}

.dark .header, 
.dark .footer,
.dark button {
    background-color: var(--third-colour);
    color: var(--pale-green);
}

.dark button:hover,
button:focus {
    border: solid 1px var(--pale-green);
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
        width: 80%;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: center;
        border-radius: 500px;
    }
}


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.7);
}
  
/* Modal Content/Box */
.modal-content {
    background-color: var(--pale-green);
    margin: 5% auto;
    padding: 10px;
    border: 1px solid var(--third-colour);
    border-radius: 10px;
    width: 320px;
}

.dark .modal-content {
    background-color: var(--dark-green);
    border: 1px solid var(--pale-green);
}
  
/* The Close Button */
.close {
    color: var(--dark-green);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.dark .close {
    color: var(--pale-green);
}
  
.close:hover,
.close:focus {
    color: var(--third-colour);
    text-decoration: none;
    cursor: pointer;
}

label {
    font-size: 16px;
}

input, textarea{    
  width: 100%;
  padding: 8px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid var(--third-colour);
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=submit] {    
  width: 100%;
  background-color: var(--dark-green);
  color: var(--pale-green);
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid var(--dark-green);
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
    border: 2px solid var(--third-colour)
}
.dark input {
        background-color: var(--third-colour);
        color: var(--pale-green)
    }
.dark input[type=submit] {
    background-color: var(--third-colour);
    border: 2px solid var(--third-colour);
}
.dark input[type=submit]:hover {
    border: 2px solid var(--pale-green);
}
.dark textarea {
    background-color: var(--third-colour);
}