/******* COLOUR  ******
* background: xxx#031500xxx #0e5003
* text: #C2CFBF
* headings: #E0E7DF
* alternate dark (blue): #000315
* third dark (maroon): #150003
***********************/

body {
    width: 100%;
    display: table;
    margin: 0;  
    background-color: #FFF;
    color: #0e5003;
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1   {
    font-size: 300%;
    color: #0e5003;
    text-align: center;
    animation: slide-right 3s;
}

@keyframes slide-right {
    from { transform: translateX(-100%);}
    to {transform: translateX(0);}
}

header {
    display: inline-block;
    width: 100%;
    left: 0px;
    background-color: #0e5003;
    color: #E0E7DF;
    padding: 6px;
}

header img {
    float: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    max-width: 10%;
    height: auto;
}

.topnav {
    overflow: hidden;
    float: right;
    background-color: #0e5003;
    margin-top: 10px;
  }
  
.topnav a {
    display: inline;
    color: #E0E7DF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 200%;
}

.topnav a:hover {
    background-color: #E0E7DF;
    color: #0e5003;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        background-color: #E0E7DF;
        position: relative;
        width: 80%;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        color: #0e5003;
        display: block;
        text-align: center;
    }
    .topnav.responsive a:hover {
        background-color: #0e5003;
        color: #E0E7DF;
    }
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #0e5003;
    color: #E0E7DF;
    padding: 6px;
}

.findMe ul li {
    display: inline;
    font-size: 100%;
    padding-left: 1%;
    padding-right: 1%;
}

.findMe ul li a {
    font-family: 'Kanit', Arial, Helvetica, sans-serif;
    color: #E0E7DF;
    text-decoration: none;
}

.findMe ul li a:hover {
    text-decoration: underline;
}