/******* COLOUR  SCHEME ******

dark header/footer  #150003
light header/footer #0e5003

header/footer text  #E0E7DF

dark body           #0e5003
light body          #E0E7DF

dark body text      #E0E7DF
light body text     #0e5003*/

header {
    display: inline-block;
    width: 100%;
    left: 0px;
    padding: 6px;
}

footer {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: 100%;
    padding: 0px 6px;
}











